:root {
    --orange: 255, 165, 0;
    --dark: 20, 19, 19;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* header */
header {
    color: #fff;
    padding: 10px;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: rgb(var(--orange));
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;

    &:hover {
        color: #fff;
    }
}

.header nav,
.header .icons {
    display: none;
    align-items: center;

    @media screen and (min-width:768px) {
        display: flex;

    }
}

.btn {
    border: 0;
    padding: 12px 25px !important;
    border-radius: 20px;
    background: rgb(var(--orange));
    color: #fff !important;
    transition: .2s;

    &:hover {
        background: rgb(var(--orange), .8);
    }
}

.navmenu {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 22px;

    &:hover {
        color: rgb(var(--orange));
    }

    @media screen and (min-width:768px) {
        display: none;

    }
}

/* main > hero */
.hero {
    height: 100vh;
}

.hero-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    max-width: 450px;
    color: #fff;
    margin: 40px 0;
    height: 100vh;
}

.hero-content h3 {
    font-size: 35px;
    margin: 30px 0;
}

.hero-content p {
    margin-bottom: 30px;
}

/* discount >hero */
.discount-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;

    @media screen and (min-width:768px) {
        flex-direction: row;

    }
}

.discount .card {
    background: rgb(var(--dark));
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;

    @media screen and (min-width:768px) {
        flex-direction: row;

    }
}

.discount .card-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-right: 20px;
    border: 10px solid rgb(var(--orange));
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.discount .card-img img {
    width: 100%;
    transition: .4s;

    &:hover {
        transform: scale(1.2);
    }


}

.discount .card-text {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.discount .card-text h6 {
    font-size: 24px;
    margin-bottom: 10px;
}

.discount .card-text h5 {
    font-size: 60px;
    margin-bottom: 20px;
}

.discount .card-text h5 span {
    font-size: 60px;
}

.btn {
    border: 0;
    padding: 12px 25px !important;
    border-radius: 20px;
    background: rgb(var(--orange));
    color: #fff !important;
    transition: .2s;
    width: fit-content;
    width: fit-content;

    &:hover {
        background: rgb(var(--orange), .8);
        color: rgb(var(--dark));
    }
}

.menu .menu-list .card {
    border-radius: 10px;
    overflow: hidden;
    background: rgb(var(--dark));

}

.menu .menu-list .card .top {
    background: aliceblue;
    height: 240px;
    border-radius: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .menu-list .card .bottom {
    background: rgb(var(--dark));
    padding: 10px;
    color: #fff;
}
.menu-nav{
    display: flex;
    gap:100px;
}
.menu-nav a{
    color: rgb(17, 12, 12);
    font-size: 25px ;
    font-style:italic;
    align-items: center;
}
.abc{
    height: 38px;
    width: 8%;
    border-radius: 20px;
    text-align: center;
    background:rgb(136, 124, 124);
    
    &:hover{
        background: rgb(var(--orange), .8);
        color: rgb(var(--dark));
    }
}
h3{
    text-align: center;
    font-style:italic;
    color:rgb(248, 140, 8);
    font-size: 30px;
}

.menu .menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* about */
.about .about-content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width:768px) {
        flex-direction: row;

    }

}

.about .about-content .about-img,
.about .about-content .text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    background: rgb(var(--dark));
    padding: 30px 0;
    margin: 40px 0;
}
/* main > book */
.booking .container{
    display: flex;
    gap: 30px;
    align-items: center;
}
.booking input, .booking select{
    border: 1px solid #80808045 ;
    padding: 8px;
    border-radius: 4px;
    display: block;
    outline: 0;
    margin-bottom: 15px;
    width: 100%;
}
.booking form{
    width: 100%;
}
/* main > testimonies */
.testimonies .card .card-top{
    background: rgb(var(--dark));
    padding: 14px;
    border-right: 6px;
    margin: 14px 0;
    color: #fff;
    font-size: 13px;
}
.testimonies .card-img{
    border-radius: 50%;
    width: 80%;
    border: 5px solid rgb(var(--orange));
    overflow: hidden;
}